*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 7%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size:2.5rem ;
    color: white;
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin-right: 3rem;
}

.navbar a:hover{
    color: #FFD565;
}

section {
    padding: 7rem 7% 2rem 7%;
    min-height: 100vh;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: .3rem;
}

.home-content h1 {
    border: 5px;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: .3rem;
   
}
/* 
.home-content .home-content-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height:4rem;
    background: transparent;
    border: .2rem solid #9DA6E5;
    border-radius: 50%;
    font-size: 2rem;
    color:#9DA6E5;
    margin: 2.5rem 1.5rem 3rem 0;

} */

/* .home-content .home-content-social a:hover {
    background: white;
    color: #9DA6E5;
    border-color: #FFD565;
    
} */

.watch {
    display: inline-block;
    padding: 1.2rem 2.8rem 1.2rem 2.8rem;
    background: white;
    border-radius: 50rem;
    font-size: 1.6rem;
    color: #9DA6E5;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid;

}

.btn:hover {
    background: transparent;
    color: #9DA6E5;
    border-color: #FFD565;
}

.home-content-img img {
    position: absolute;
    ;
    
    bottom: 40px;
    right: 100px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;
}

span {
    color: #9DA6E5;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.heading {
    font-size: 4.5rem;
    text-align: center;

}

.about-content-detail h2 {
    text-align: left;
    line-height: 1.1;
}
.about-content-detail h3 {
    font-size: 2rem;
}

.about-content-detail .first {
    width: 50%;
}
.about-content-detail .first p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content-detail .first ul {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

.about-content-detail .second {
    width: 50%;
    display: flex;
    
}